---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import ApplePodcasts from "../icons/apple.png";
import GitHub from "../icons/github.svg";
import RSS from "../icons/rss.svg";
import Spotify from "../icons/spotify.png";

import "../styles/global.css";

const episodes = await getCollection("episodes");
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>JSer.info を語りたい</title>
		<meta
			name="description"
			content="「JSer.info を語りたい」は、JSer.info で紹介されている各情報について、NotebookLM を用いて深堀りして語るポッドキャスト番組です。"
		/>
	</head>
	<body>
		<header>
			<h1>JSer.info を語りたい</h1>
			<p>
				「JSer.info を語りたい」は、<a href="https://jser.info/">JSer.info</a> で紹介されている各情報について、<a
					href="https://notebooklm.google/">NotebookLM</a
				>
				を用いて深堀りして語るポッドキャスト番組です。
			</p>
		</header>

		<nav>
			<h2>Subscribe</h2>
			<ul>
				<li>
					<a href="/rss.xml">
						<Image class="w-8" src={RSS} alt="" />
						<span class="sr-only">RSS フィードを購読</span>
					</a>
				</li>
				<li>
					<a
						href="https://podcasts.apple.com/us/podcast/jser-info-を語りたい/id1814968651"
					>
						<Image class="w-8" src={ApplePodcasts} alt="" />
						<span class="sr-only">Apple Podcasts で購読</span>
					</a>
				</li>
				<li>
					<a href="https://open.spotify.com/show/2RvusgWsCpKrlt6UkombXH">
						<Image class="w-8" src={Spotify} alt="" />
						<span class="sr-only">Spotify で購読</span>
					</a>
				</li>
			</ul>
		</nav>

		<main>
			<section aria-labelledby="episodes-heading">
				<h2 id="episodes-heading">Episodes</h2>
				<ul>
					{
						episodes.toReversed().map((episode) => (
							<li>
								<a href={`/episode/${episode.data.id}/`}>
									{episode.data.id}.{" "}
									<time datetime={episode.data.created}>
										{episode.data.created}
									</time>{" "}
									の JSer.info
								</a>
							</li>
						))
					}
				</ul>
			</section>

			<h2>Feedback</h2>
			<a href="https://github.com/morinokami/jser-info-podcast">
				<Image class="w-8" src={GitHub} alt="" />
				<span class="sr-only">リポジトリへのリンク</span>
			</a>
		</main>
	</body>
</html>
